<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />

  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" /> -->
  <link rel="stylesheet" href="/style/style.css" />
  <title>Fitness Chart</title>
</head>
<nav>
  <a href="/">Fitness Tracker | </a>
  <a href="/exercise">Exercise</a>
</nav>

<body>
  <div class="wrapper">
    <header>
      <h1>Workout Dashboard</h1>
    </header>
    <!-- <div class="container mt"> -->
      <div class="ui raised card m-auto">
        <!-- <div class="row justify-content-center"> -->
          <div class="buttons">
            <button class="previous huge ui button">Previous</button>
            <!-- <p class="col-m-2">Week of:</p> -->
            <button class="next huge ui button">Next</button>
            <!-- <button class="seed huge ui button">Seed</button> -->
          </div>
        <!-- </div> -->
        <div class="row mt">
          <div class="col-md-6">
            <canvas id="canvas"></canvas>
          </div>
          <div class="col-md-6">
            <canvas id="canvas2"></canvas>
          </div>
        </div>
        <div class="row mt">
          <div class="col-md-6">
            <canvas id="canvas3"></canvas>
          </div>
          <div class="col-md-6">
            <canvas id="canvas4"></canvas>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="/utils/utilAPI.js"></script>
  <script src="/utils/utilStats.js"></script>
  <script src="/utils/utilFunctions.js"></script>
  <script src="/js/stats.js"></script>
</body>

</html>